// GLOBAL STYLING

// theme colors
$dark: #272727;
$light: #fdfdfd;
$grey: #eee;
$dark-grey: #777;

$colors: (
    "dark": $dark,
    "light": $light,
    "grey": $grey,
    "dark-grey": $dark-grey,
);

@each $key, $val in $colors {
    .color-#{$key} {
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }
}

.em {
    font-style: italic;
}

.bold, strong {
    font-weight: 700;
}

.w-100, .w-100 img {
    width: 100%; 
}

h4 {
    font-size: 1.1rem;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    color: $dark;
    background-color: $light;
    box-sizing: border-box;
}

main {
    width: 85vw;
    margin: 10vw auto;
    position: relative;
}
