// @import "_mixins.scss";
/*
@include media-breakpoint-up(md) {
    .content {
        width: 85vw;
    }
}*/

@media (min-width: 768px) {
    .content {
        width: 55vw;
    }
}

@media (min-width: 992px) {
    .content {
        width: 600px;
    }
}