@mixin tag {
    display: inline;
    line-height: 20px;
    height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 2px 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.content {
    width: 85vw;
    margin: 5vw auto;
}

.caption {
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin-top: 5px !important;
    text-align: left;
    text-transform: uppercase;
}

.tag {
    @include tag;

    border: 1px solid #ddd;
}