---
layout: default
---

    <div class="content top">
        <h1>{{ page.location }}</h1>
        <h3>{{ page.year }}</h3>
    </div>

    {% for asset in page.modules %}

        {% if asset._type == "day" %}
            <div class="content"><h4>{{ asset.number }}</h4></div>
        {% endif %}

        <!--HERO-->
        {% if asset._type == "hero" %}
            <div class="hero">
                <img src="{{ asset.img }}" alt="{{ asset.img_alt }}" class="w-100">
            </div>
        {% endif %}

        {% if asset._type == "image" %}
            <div class="content image">
                <img src="{{ asset.img }}" alt="{{ asset.img_alt }}" class="w-100">
                <div class="caption content">{{ asset.caption }}</div>
            </div>
        {% endif %}

        <!--TEXT-->
        {% if asset._type == "text" %}
            <div class="content">
                <p>{{ asset.text }}</p>
            </div>

        {% endif %}

        <!--SUBHEADING-->
        {% if asset._type == "subheading" %}

        {% endif %}

        <!--LIST-->
        {% if asset._type == "list" %}

        {% endif %}

    {% endfor %}
    
