---
layout: default
---


    <div class="content top">
        <h1>{{ page.location }}</h1>
        {{ page.year }}
    </div>

    {% for asset in page.modules %}

        <!--IMAGE-->
        {% if asset._type == "hero" %}
            <div class="hero">
                <img src="{{ asset.image }}" alt="{{ asset.image_alt }} " class="w-100">
                <div class="caption content">{{ asset.caption }}</div>
            </div>
        {% endif %}

        {% if asset._type == "image" %}

        {% endif %}

        <!--TEXT-->
        {% if asset._type == "text" %}
            <div class="content">
                <p>{{ asset.text }}</p>
            </div>

        {% endif %}

        <!--SUBHEADING-->
        {% if asset._type == "subheading" %}

        {% endif %}

        <!--LIST-->
        {% if asset._type == "list" %}

        {% endif %}

    {% endfor %}
    
